<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Weed News</title>
  {{!-- <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css"> --}}
  <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  {{!-- <script>
    window.setInterval('refresh()', 60000 * 20); 	// Call a function every 10000 milliseconds (OR 10 seconds).

    // Refresh or reload page.
    function refresh() {
      console.log('reloaded')
      window.location.reload();
    }
  </script> --}}
</head>

<body>
  {{{ body }}}
</body>

</html>